<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright Nvizo Software -->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.nvizo.tesseract"
    version="1.0.2">
    <name>Tesseract</name>
    <description>Cordova Tesseract Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,tesseract</keywords>
    <repo>https://github.com/mkaisercross/tesseract-phonegap-plugin.git</repo>

    <asset src="www/Tesseract.js" target="Tesseract.js"/>

    <js-module src="www/Tesseract.js" name="tesseract">
        <clobbers target="tesseract" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Tesseract">
                <param name="android-package" value="com.nvizo.plugin.Tesseract"/>
            </feature>
        </config-file>
        <source-file src="src/android/Tesseract.java" target-dir="src/com/nvizo/plugin/"/>
     </platform>

</plugin>
